* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cfcfff;
}

.spinner-container {
  position: relative; 
  margin: 40px auto; 
  width: 64px; 
  height: 64px; 
  background-color: #cfcfff;
  /* border: 1px solid black; */
  border-radius: 100px; 
}

.spinner-container::before {
  position: absolute; 
  content: '';
  width: 64px; 
  height: 64px; 
  /* border: 64px;  */
  background-color: #cfcfff;
  box-shadow: inset -5px 0px 0 5px #333;
  clip: rect(0, 64px, 32px, 0px);
  border-radius: 64px; 
  animation: spin .5s linear infinite; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    box-shadow: inset -5px 0px 0 5px #333;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: inset -1px 0px 0 1px #333;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: inset -5px 0px 0 5px #333;
  }
}

.single-story {
  width: 300px; 
  background-color: #fff;
  padding: 10px;
  margin: 10px auto; 
  border-radius: 5px;   
}

.single-story::after {
  content: ''; 
  clear: both; 
  display: table;
}

.title {
  margin-bottom: 10px; 
}

.info {
  color: rgb(162, 162, 162);
  font-size: .8rem; 
}
.read-link {
  color: lightblue; 
  text-decoration: none;
  font-size: .9rem;
}
.btn-remove {
  font-size: .8rem;
  color: rgb(196, 25, 25);
  border: 0px; 
  outline: 0px;
  background-color: transparent;
  margin-left: 20px;
}
/* form */ 
.form {
  width: 300px; 
  margin: 20px auto; 
}

.form-field {
  background-color: transparent;
  border: transparent; 
  outline: 0px; 
  border-bottom: 2px solid gray; 
  padding: 5px; 
}

.num-btn {
  background-color: rgb(110, 110, 233);
  color: #fff; 
  border:transparent; 
  border-radius: 5px;
  padding: 5px 7px; 
  display: inline-block; 
  margin: 0 20px;
}
.num-btn:disabled {
  cursor: not-allowed;
}
.btn-container {
  /* border: 1px solid red;  */
  position: relative; 
  left: 50%; 
  transform: translateX(-50%);
  width: 250px; 
  padding: 0 10px; 
}
.page-display {
  display: inline-block; 
  text-align: center;
}

